.dashboardContainer {
  max-width: 1512px;
  display: flex;
  margin: 0 auto;
  padding: 0px 35px 0px 0px;
  width: 95%;
  margin-top: 25px;
}

.dashMobile {
  padding: 0px;
}
.filterDateContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.filterClientContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-top: 30px;
}

.filterButtons7DContainer {
  display: flex;
  align-items: center;
  min-height: 32px;
}

.sidebarButtonContainer {
  margin-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.sidebarButtonContainer div:nth-child(2) {
  margin: 0;
}
.buttonContainer {
  display: flex;
  padding: 5px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.containerMobile {
  display: flex;
}

.cont {
  display: flex;
  flex-direction: column;
}

.indicatorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.indicadtorRed {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 15px;
  height: 15px;
  opacity: 0.5;
}

.indicadtorOrange {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eb7635;
  width: 15px;
  height: 15px;
}

.indicadtorViolet {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #358deb;
  width: 15px;
  height: 15px;
}
.indicatorGreen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2dcf5a;
  width: 15px;
  height: 15px;
  opacity: 0.5;
}

.textIndicator {
  opacity: 0.5;
  margin: 0;
}
.indicadtorYearActually {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eb3535;
  width: 15px;
  height: 15px;
}
.indicadtorNextYear {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7a35eb;
  width: 15px;
  height: 15px;
}


@media only screen and (max-width: 1100px) {
  .filterDateContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}
