.userContainer {
  display: flex;
  width: 320px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  cursor: pointer;
}

.textUser {
  color: #1c1b1e;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
